body {
    font-family: 'Lato';
    background: url("https://images.alphacoders.com/190/190243.jpg") no-repeat center center fixed;  ;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255, 255, 255, 0.85);
}

.oswald-font {
    font-family: 'oswald';
    vertical-align: bottom;
}

.name {
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}

.link-github {
    color: #454545;
}

.link-github:hover {
    color: black;
}

.link-twitter {
    color: #33CCFF;
}

.social-link {
    margin-left: 5px;
}

.social-link:first-child {
    margin-left: 0;
}

.link-blog {
    color: rgb(243, 111, 36);
}

.link-blog:hover {
    color: rgb(211, 97, 32);
}

.summary {
    font-family: "Pt mono";
    font-size: 1.2em;
}

.wip {
    position: absolute;
    right: 0;
}

.item-detail h3 {
    margin-top: 0;
}

// custom
#bg-player {
    visibility: hidden;
    display: none;
}

.container {
    background-color: rgba(0,0,0,0.65);
    display: none;
}

small {
    color: rgba(255, 255, 255, 0.85) !important;
}

mark {
    background-color: rgba(255, 254, 254, 0.85);
    border-radius: 25px;
}

p {
    text-align: justify;
}

.embed-responsive {
    margin-bottom: 15px;
}

.bg-audio {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 30px;
}

.item-detail:last-child {
    margin-bottom: 30px;
}

html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
 }

@media (min-width: 992px) {
    .img-200, .img-200 img {
        height: 200px;
    }
    .embed-responsive {
        padding-right: 2px;
    }
    .embed-responsive + :not(.embed-responsive) {
        padding-right: 0;
    }
    .embed-responsive + .embed-responsive iframe{
        padding-left: 2px;
    }
}